{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1 class="text-center">Bienvenido</h1>
{% if user.is_superuser == True %}
<div class="container">
    <div class="col-md-12 text-center">
    <big><a href="{% url 'create' %}" class="badge bg-primary text-wrap text-decoration-none">Añadir productos</a></big>
        </div>
    </div>
    {%endif%}
    <h1 class="text-center">Top 3 productos mejor calificados</h1>

    <div class="card-group">
        {% for product in products %}
            <div class="card">
                {%if product.product.image%}
                <img src="media/{{product.product.image}}" class="card-img-top img-card">
              {%else%}
                <img src="{% static 'products/icono_moto.svg' %}" class="card-img-top img-card">
              {%endif%}                <div class="card-body text-center">
                    <a href="{% url 'product' id=product.product.id  %}" class="btn bg-primary text-white">
                        {{product.product.name}}</a>
                    <a class="btn bg-secondary text-light" href="{% url 'product' id=product.id  %}">{{product.product.price}}$</a>
                </div>
            
        </div>
        {% endfor %}
    </div>


{% endblock %}