{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'products/icono_moto.svg' %}"
                class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Nombre:</h3>
                <p class="fst-normal">{{product.name}}</p>

                <h5 class="fw-bold">Referencia:</h5>
                <p class="fst-normal">{{product.reference}}</p>

                <h5 class="fw-bold">Marca: </h5>
                <p class="fst-normal">{{product.brand}}</p>

                <h5 class="fw-bold">Precio:</h5>
                <p class="fst-normal">{{product.price}}</p>


                <h5 class="fw-bold">Descripcion:</h5>
                <p class="fst-normal">{{product.description}}</p>


                <h5 class="fw-bold">Unidades disponibles:</h5>
                <p class="fst-normal">{{product.stock}}</p>


            </div>
        </div>
        
    </div>

</div>

<form method="POST">
    {% csrf_token %}
    {% if user.is_superuser == True%}
    <input type="submit" class="btn btn-danger" value="Eliminar Producto" name="delete" />
    <a class="btn btn-success" href="update/{{product.id}}">Actualizar Datos</a>  
    {%endif%}
</form>
{% endblock %}