{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Search Bar  -->
<div class="d-grid gap-3">
    <div class="input-group row d-flex justify-content-center text-center">
        <form method="GET">
        {% csrf_token %}
        <div class="input-group mb-3 text-align:center">
            <input name="name" type="text" class="form-control text-center " placeholder="Buscar por nombre o referencia" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="btn-group">
              
              <button class="btn btn-outline-secondary bg-primary text-light " type="submit">Buscar</button>
              <button class="btn btn-outline-secondary bg-primary text-light" type="submit" value="" name="name">Reset</button>
            </div>
          </div>
        
          <button class="btn bg-info text-light my-3" type="button" data-bs-toggle="collapse" data-bs-target="#filtros" aria-expanded="false" aria-controls="collapseExample">
            Filtros
          </button>
          <div class="collapse" id="filtros">
          <select name="{{ form.brand.name }}" class="form-select" >
            {% for value, label in form.brand.field.choices %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
            </select>
            <input name="minprice" type="number" class="my-3 text-center " placeholder="Precio minimo">
            <input name="maxprice" type="number" class="my-3 text-center " placeholder="Precio maximo">
        </div>
        </div>
        </form>
      </div>
  

      
<!-- Products  -->

<div class="row">
    {% for product in products %}
    <div class="col-md-4 col-lg-3 mb-2">
        <div class="card">
          {%if product.image%}
            <img src="{{product.image}}" class="card-img-top img-card">
          {%else%}
            <img src="{% static 'products/icono_moto.svg' %}" class="card-img-top img-card">
          {%endif%}            <div class="card-body text-center">
                <a href="{% url 'product' id=product.id  %}" class="btn bg-primary text-white">
                    {{product.name}}</a>
                <a class="btn bg-secondary text-light" href="{% url 'product' id=product.id  %}">{{product.price}}$</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>
{%endblock%}