{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% if alert_message %}
<div class="alert alert-warning" role="alert">
  {{ alert_message }}
</div>
{% endif %}

<h1>{% trans "Shopping cart" %}</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Reference" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Price" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.nombre }}</td>
        <td>{{ item.referencia }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.precio }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<a href="{% url 'checkout' %}" class="btn btn-success">{% trans "Buy" %}</a>

<form method="get" action="{% url 'clear_cart' %}">
  <button type="submit" class="btn btn-danger">{% trans "Clear cart" %}</button>
</form>
{% endblock %}
