{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <h2>{% trans "Checkout" %}</h2>

    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Reference" %}</th>
          <th>{% trans "Quantity" %}</th>
          <th>{% trans "Price" %}</th>
          
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
          <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.referencia }}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.precio }}</td>

          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><strong>{% trans "Total" %}:</strong></td>
          <td><strong>${{ total_price }}</strong></td>
        </tr>
      </tfoot>
    </table>
    <table class="table">
    </table>
    
    <form method="POST">
      {% csrf_token %}
      
      {% if user.is_authenticated %}
      <input type="text" name="Nombre" value="{{ user.first_name }}" placeholder="{% trans 'Name' %}" required>
      <input type="email" name="Email" value="{{ user.email }}" placeholder="{% trans 'ID' %}" required>
      <input type="text" name="Ciudad" value="{{ user.city }}" placeholder="{% trans 'City' %}" required>
      <input type="text" name="Direccion" value="{{ user.address }}" placeholder="{% trans 'Address' %}" required>
    {% else %}
      <input type="text" name="Nombre" placeholder="{% trans 'Name' %}" required>
      <input type="email" name="Email" placeholder="{% trans 'Email' %}" required>
      <input type="text" name="Ciudad" placeholder="{% trans 'City' %}" required>
      <input type="text" name="Direccion" placeholder="{% trans 'Address' %}" required>
    {% endif %}
      <input type="hidden" name="product" value="{{ cart_items }}">
      <input type="hidden" name="total_price" value="{{ total_price }}">
    
      <button type="submit" class="btn btn-primary">{% trans "Finish purchase" %}</button>
    </form>
    


{% endblock %}
