{% extends 'base.html' %}

{% block content %}

    <h2>Checkout</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Referencia</th>
          <th>Cantidad</th>
          <th>Precio</th>
          
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
          <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.referencia }}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.precio }}</td>

          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><strong>Total:</strong></td>
          <td><strong>${{ total_price }}</strong></td>
        </tr>
      </tfoot>
    </table>
    <table class="table">
    </table>
    
    <form method="POST">
      {% csrf_token %}
      
      {% if user.is_authenticated %}
      <input type="text" name="Nombre" value="{{ user.first_name }}" placeholder="Name" required>
      <input type="email" name="Email" value="{{ user.email }}" placeholder="ID" required>
      <input type="text" name="Ciudad" value="{{ user.city }}" placeholder="City" required>
      <input type="text" name="Direccion" value="{{ user.address }}" placeholder="Address" required>
    {% else %}
      <input type="text" name="Nombre" placeholder="Nombre" required>
      <input type="email" name="Email" placeholder="Email" required>
      <input type="text" name="Ciudad" placeholder="Ciudad" required>
      <input type="text" name="Direccion" placeholder="Direccion" required>
    {% endif %}
      <input type="hidden" name="product" value="{{ cart_items }}">
      <input type="hidden" name="total_price" value="{{ total_price }}">
    
      <button type="submit" class="btn btn-primary">Finalizar compra</button>
    </form>
    


{% endblock %}






