{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{% trans "User registry" %}</div>
                <div class="card-body">
                    {% if form.errors %}
                    <ul id="errors" class="alert alert-danger list-unstyled">
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <h1>{% trans "User registry" %}</h1>
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="d-grid gap-3">

                            <a>{% trans "Enter your first name" %}</a>
                            <input type="text" class="form-control mb-2" placeholder="Jhon" name="first_name"
                                value="{{form.data.first_name}}" />
                            <a>{% trans "Enter your last name" %}</a>
                            <input type="text" class="form-control mb-2" placeholder="Doe" name="last_name"
                                value="{{form.data.last_name}}" />
                            <a>{% trans "Enter your email" %} *</a>
                            <input type="text" class="form-control mb-2" placeholder="ejemplo@ejemplo.com" name="email"
                                value="{{form.data.email}}" />
                            <a>{% trans "Enter your password" %} *</a>
                            <input type="password" class="form-control mb-2" placeholder="Example123"
                                name="password" value="{{form.data.password }}" />
                            <a>{% trans "Enter your address" %}*</a>
                            <input type="text" class="form-control mb-2" placeholder="Av 113b #324-123"
                                name="address" value="{{form.data.address }}" />
                            <select name="{{form.city.name}}" class="form-select">
                                {% for value, label in form.city.field.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-primary" value="{% trans "Send" %}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}