{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous" />
        <link href="{% static 'app.css' %}" rel="stylesheet" />
        <title>{% block title %}Todo Motos{% endblock %}</title>
        </head>
        <body class="d-flex flex-column min-vh-100">
        <!-- HEADER -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            
            <div class="container">
                
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'logo.png' %}" width="90" height="90" class="">
                TodoMotos.com</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" href="{% url 'home' %}">{% trans "Home" %}</a>
                <li class="nav-item">
                <a class="nav-link active" href="{% url 'products' %}">{%trans "Products"%}</a>
                
                </li>
                <a class="nav-link active" href="{% url 'cart' %}">{% trans "Cart" %}</a>

                <a class="nav-link active" href="{% url 'factorial'%}">Calculator</a>
                {% if user.is_authenticated == False%}
                <a class="nav-link active" href="{% url 'login' %}">{% trans "Log in" %}</a>
                <a class="nav-link active" href="{% url 'register' %}">{% trans "Register" %}</a>
                {%endif%}
                

                
                {% if user.is_authenticated == True%}
                <a class="nav-link active" href="{% url 'orders' %}">{% trans "Orders"%}</a>
                <a class="nav-link active text-underline-opacity-0">{% trans "Logged in as"%}: {{user.email}}</a>
                {%endif%}
                <a class="nav-link active" href="{% url 'logout' %}">{% trans "Log out"%}</a>
                <form class="nav-link active" method="post" action="{% url 'set_language' %}">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                    <select name="language" id="language-selector"> <!-- Agrega el ID "language-selector" -->
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                            <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang_name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                
            </div>

            </div>
            </div>
            </nav>

            <!-- HEADER -->
            
            <div class="container my-4">
                {% block content %}
                {% endblock %}
                </div>
               <!--Footer-->
            {% block footer %}
            <footer class="mt-auto bg-secondary text-white">
                <div class="container">
                    
                          <a class=" text-reset fw-bold text-decoration-none" target="_blank">
                            Daniel Gonzalez, Leonardo Rojas, Simon Gomez
                        </a>
                    
                </div>
            </footer>
            {% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
crossorigin="anonymous">
</script>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const languageSelector = document.getElementById("language-selector");
                
                    languageSelector.addEventListener("change", function() {
                        this.form.submit(); // Envía el formulario cuando se seleccione un nuevo idioma
                    });
                });
                </script>
</body>
</html>